@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 16px;
}
:root {
    --nav-height: 80px;
    --top-padding: calc(var(--nav-height) + 30px);
    --main-color: #CFB095;
    --main-logo-size: 55px;
    --sidebar-logo-size: 55px;
}
body, html {
    background-color: white;
    overflow-x: hidden;
}
h1 {
    font-size: 40px;
    letter-spacing: 2px;
    padding-bottom: 20px;
}
section {
    padding: 100px 0;
}
section:not(.index-section) * {
    color: #2C2C2C;
}
section header {
    text-align: center;
}
section header h1 {
    padding-bottom: 100px;
}
.btn {
    display: inline-block;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
    -webkit-transition: background-color 0.3s, color 0.3s;
    -moz-transition: background-color 0.3s, color 0.3s;
    -o-transition: background-color 0.3s, color 0.3s;
}
.btn.btn-white {
    background-color: white;
    color: #2C2C2C;
    border: 1px solid white;
}
.btn.btn-white:hover {
    background-color: transparent;
    color: white;
}
.divider {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 50%;
    padding: 10px;
}
.container {
    width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 0px;
}
.navbar {
    height: var(--nav-height);
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: var(--main-color);
}
.navbar .container {
    display: flex;
    height: 100%;
    align-items: center;
}
.navbar .container > header {
    flex-grow: 1;
    position: relative;
}
.navbar header .logo {
    height: var(--main-logo-size);
    width: var(--main-logo-size);
    display: block;
}
.navbar .collapse header .logo {
    height: var(--sidebar-logo-size);
    width: var(--sidebar-logo-size);
    display: block;
}
.navbar .container > header .toggle {
    display: none;
    position: absolute;
    right: 0px;
    width: 35px;
    height: 25px;
    top: calc(calc(var(--main-logo-size) / 2) - 12.5px);
    background-color: transparent;
    border:none;
}
.navbar .container > header .toggle .icon {
    transition: 0.3s;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	-moz-transition: 0.3s;
	background-color: white;
	width: 100%;
	height: 4px;
	position: absolute;
}
.navbar .container > header .toggle .icon:first-child {
	top: 0px;
}
.navbar .container > header .toggle .icon:nth-child(2) {
	bottom: calc(calc(25px / 2) - 2px);
}
.navbar .container > header .toggle .icon:nth-child(3) {
	bottom: 0px;
}
.navbar.open .container > header .toggle .icon:first-child {
	top: calc(calc(25px / 2) - 2px);
	transform: rotate(135deg);
}
.navbar.open .container > header .toggle .icon:nth-child(2) {
	opacity: 0;
}
.navbar.open .container > header .toggle .icon:nth-child(3) {
	bottom: calc(calc(25px / 2) - 2px);
	transform: rotate(-135deg);
}
.navbar .menu {
    font-size: 0px;
}
.navbar .menu li {
    display: inline-block;
}
.navbar .menu li a {
    padding: 10px 20px;
    display: block;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    -moz-transition: background-color 0.3s, color 0.3s;
    -webkit-transition: background-color 0.3s, color 0.3s;
    -o-transition: background-color 0.3s, color 0.3s;
}
.navbar .menu li a:hover {
    text-decoration: underline;
}
.navbar .collapse header {
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #E2E2E2;
    height: 100px;
    display: none;
}

.index-section {
    height: 100vh;
    font-size: 0px;
    position: relative;
    display: block;
    padding-top: 15vh;
    background-color: var(--main-color);
}
.index-section .left img {
    width: 300px;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 5px 30px 0 rgba(0,0,0,1);
}
.index-section .container {
    padding-top: calc(var(--nav-height))
}
.index-section .wave {
    position: absolute;
    height: auto;
    bottom: 0px;
    width: 100vw;
    font-size: 0px;
}
.index-section .wave img {
    width: 100vw;
    height: 100px;
}
.index-section .about p {
    line-height: 25px;
    padding-bottom: 10px;
}
.index-section .about .btn {
    font-weight: bold;
    margin-top: 20px;
    letter-spacing: 2px;
}
.tech-section .tech-cards {
    width: calc(calc(200px + 40px) * 4);
    text-align: center;
    font-size: 0px;
    margin: 0 auto;
}
section .card {
    display: inline-block;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    border-radius: 10px;
    padding: 40px 0;
    text-align: center;
    margin: 20px;
}
section .card img {
    height: 50px;
    margin-bottom: 20px;
}
.tech-section .card {
    width: 200px;
    padding: 40px 0;
}
.tech-section .card p {
    font-weight: bold;
    font-size: 18px;
}

.services-section .service-cards {
    text-align: center;
}
.services-section .service-cards .card {
    width: 250px;
}
.services-section .service-cards .card h6 {
    color: #584B41;
}
.services-section .service-cards .card img {
    height: 50px;
}

.projects-section .project-cards {
    text-align: center;
}
.projects-section .project-cards .card {
    width: 350px;
    vertical-align: middle;
    height: 400px;
    padding: 0px;
}
.projects-section .project-cards .card .project-image {
    padding-top: 56.25%;
    background-color: green;
    border-radius: 10px;
    background-size:cover;
}
.projects-section .project-cards .card .desc {
    padding: 20px;
}
.projects-section .project-cards .card .desc p {
    text-align: left;
    font-size: 14px;
    line-height: 23px;
}
footer {
    background-color: var(--main-color);
    text-align: center;
    padding: 50px 0;
    margin-top: 100px;
}
footer p {
    line-height: 25px;
}
footer .social {
    padding-top: 20px;
}
footer .social a {
    margin: 0 5px;
}
footer .social img {
    height: 25px;
}
@media(max-width: 1100px) {
    .container {
        width: 100%;
    }
}
@media(max-width: 768px) {
    :root {
        --main-logo-size: 40px;
    }
    .navbar {
        height: 60px;
    }
    h1, .mobile-centered {
        text-align: center;
    }
    .navbar .collapse {
        position: absolute;
        top: 0px;
        height: 100vh;
        background-color: var(--main-color);
        width: 250px;
        left: -250px;
        border-right: 2px solid white;
        transition: left 0.3s;
        -moz-transition: left 0.3s;
        -webkit-transition: left 0.3s;
        -o-transition: left 0.3s;
    }
    .navbar.open .collapse {
        left: 0px;
    }
    .navbar .collapse header {
        display: flex;
    }
    .navbar .container > header .toggle {
        display: block;
    }
    .navbar .menu li {
        display: block;
        border-bottom: 1px solid #E2E2E2;
    }
    .navbar .menu li a {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .navbar .menu li a:hover {
        background-color: white;
        text-decoration: none;
        color: var(--main-color);
    }
    .index-section {
        padding-top: 5vh;
    }
    .index-section .divider,
    .tech-section .tech-cards {
        width: 100%;
    }
    .index-section .left {
        display: none;
    }
}
@media(max-width: 540px) {
    section .card:not(.services-section .service-cards .card) {
        margin: 5px;
    }
}
@media(max-width: 500px) {
    .projects-section .project-cards .card {
        margin: 0px;
        height: auto;
        margin-bottom: 40px;
        width: 100%;
    }
}